body{
    background-color: rgb(230, 227, 71);
}

#show_sketch{
    float: right;
}

h1{
    color: blueviolet;
    background-color: yellowgreen;
    font-size: 20px !important; 
}

p{
    padding: 5px;
    font-size: 20px;
    color: blueviolet;
    font-weight: bold;
}

canvas{
    border: 5px solid yellow;
    border-radius: 25px;
    animation-name: animation;
    animation-duration: 5s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes animation{
    from{box-shadow: 2px 2px 20px rgb(134, 108, 226);}
    to{box-shadow: 2px 2px 20px rgb(167, 17, 159);}
}